.view {
  position: absolute;
  width: 800px;
  height: 800px;
  .point {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: black;
    border-radius: 50%;
  }
  .boundary {
    position: absolute;
    border: 1px solid #6DF9FC;
    z-index: -1;
    opacity: 0.3;
  }
}
